

.float{
	animation: float 3s ease-in-out infinite;
}

.bgPicImage{ 
	background-image: url("src/assets/images/Accueil-portfolio-pic.png");
	background-size: cover;
	background-position: center;
	opacity: 90%;
}

.bgDevImage{ 
	background-image: url("src/assets/images/Accueil-portfolio-dev.png");
	background-size: cover;
	background-position: center;
	opacity: 90%;
}


@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.svg{
	width: 40vw;
}