.stableRotate{
    animation: linear floatinvert 20s infinite;
  }

.card {
    perspective: 150rem;
  }
  
  .card-side {
    backface-visibility: hidden;
  }
  
  .card-side.back {
    transform: rotateY(-180deg);

  }
    
  .card:hover .card-side.front {
    transform: rotateY(180deg);
  }
  
  .card:hover .card-side.back {
    transform: rotateY(0deg);
  }

  @keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes floatinvert {
    0% {
      
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }