.card {
    perspective: 150rem;
  }
  
  .card-side {
    backface-visibility: hidden;
  }
  
  .card-side.back {
    transform: rotateY(-180deg);

  }
    
  .card:hover .card-side.front {
    transform: rotateY(180deg);
  }
  
  .card:hover .card-side.back {
    transform: rotateY(0deg);
  }

