  .rotate {
    
    transform-origin: center;
    animation: linear float 50s infinite;
  }
  

  @keyframes float {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

